@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

* {
  outline: none;
}

input {
  box-shadow: none !important;
}

button:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 6%) !important;
}

.add-button {
  min-width: 120px;
}

.main-container {
  max-width: 500px;
  position: relative;
}

.btn-save {
  position: absolute;
  top: 5px;
  right: 5px;
}

.remove-button {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.todos-list {
  margin-top: 15px;
  overflow: hidden;
  overflow-y: auto;
  height: 78vh;
  padding-right: 10px;
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; */
  background: rgb(99, 99, 99);
  border-radius: 100px;
}
